# This is a simple configuration.
# If you want to see the full configuration, please check `full-config.toml` .
# And see https://gohugo.io/getting-started/configuration/ .

baseURL = "https://blog.jameshsu.csie.org"
title = "The Wine Guy"
enableRobotsTXT = true
enableEmoji = true
theme = "jane"

hasCJKLanguage = true     # has chinese/japanese/korean ? # 自动检测是否包含 中文\日文\韩文
rssLimit = 20             # Limit Entry Count to Rss file # 限制 Rss 文章输出数量
disqusShortname = "jameshsu-csie-org"      # disqus_shortname
googleAnalytics = "UA-141844348-1"      # UA-XXXXXXXX-X
copyright = ""            # default: author.name ↓        # 默认为下面配置的author.name ↓

[pagination]
  pagerSize = 5

# language support # en / zh-cn / other... translations present in i18n/
defaultContentLanguage = "zh-tw"           # Default language to use
[languages.en]
  languageCode = "en"
[languages.zh-tw]
  languageCode = "zh-tw"

[sitemap]                 # essential                     # 必需
  changefreq = "weekly"
  priority = 0.5
  filename = "sitemap.xml"

[[menu.main]]             # config your menu              # 配置目录
  name = "首頁"
  weight = 10
  identifier = "home"
  url = "/"
[[menu.main]]
  name = "文章彙整"
  weight = 20
  identifier = "archives"
  url = "/post/"
[[menu.main]]
  name = "標籤"
  weight = 30
  identifier = "tags"
  url = "/tags/"
[[menu.main]]
  name = "分類"
  weight = 40
  identifier = "categories"
  url = "/categories/"
[[menu.main]]
  name = "關於"
  weight = 50
  identifier = "about"
  url = "/about/"
[[menu.main]]
  name = "主頁"
  weight = 60
  url = "https://jameshsu.csie.org"


[params]
  since = "2019"            # Site creation time          # 站点建立时间
  homeFullContent = true   # if false, show post summaries on home page. Othewise show full content.
  rssFullContent = true     # if false, Rss feed instead of the summary
  moreMeta = true
  # site info (optional)                                  # 站点信息（可选，不需要的可以直接注释掉）
  logoTitle = "The Wine Guy"        # default: the title value    # 默认值: 上面设置的title值
  keywords = ["Hugo", "theme","jane"]
  description = "The blog of The Wine Guy."
  
  # The date format to use; for a list of valid formats, see https://gohugo.io/functions/format/
  dateFormatToUse = "2006-01-02"

  showAuthorInfo = false
  # 一些全局开关，你也可以在每一篇内容的 front matter 中针对单篇内容关闭或开启某些功能，在 archetypes/default.md 查看更多信息。
  # Some global options, you can also close or open something in front matter for a single post, see more information from `archetypes/default.md`.
  toc = false                                                                            # 是否开启目录
  photoswipe = true         # see https://github.com/dimsemenov/PhotoSwipe            # 是否启用PhotoSwipe（图片可点击）
  contentCopyright = '<a rel="license noopener" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>'

  archive-paginate = 10

  # Link custom CSS and JS assets
  #   (relative to /static/css and /static/js respectively)
  customCSS = ['custom.css']            # if ['custom.css'], load '/static/css/custom.css' file
  customJS = []             # if ['custom.js'], load '/static/js/custom.js' file

  [params.social]                                         # 社交链接
    a-email = "mailto:jameshwc@gmail.com"
    # b-stack-overflow = "http://localhost:1313"
    # c-twitter = "http://localhost:1313"
    b-facebook = "https://facebook.com/jameshwc"
    e-linkedin = "https://www.linkedin.com/in/jameshwc/"
    # f-google = "http://localhost:1313"
    g-github = "https://github.com/jameshwc"
    # h-weibo = "http://localhost:1313"
    # i-zhihu = "http://localhost:1313"
    # j-douban = "http://localhost:1313"
    # k-pocket = "http://localhost:1313"
    # l-tumblr = "http://localhost:1313"
    # m-instagram = "http://localhost:1313"
    # n-gitlab = "http://localhost:1313"
    # o-goodreads = "http://localhost:1313"
    # p-coding = "http://localhost:1313"
    # q-bilibili = "http://localhost:1313"

[blackfriday]
  footnotes = true

