.post-content img {
    border: 4px double rgba(0,0,0,.1);
    max-width: 98%;
  }
  .post-content figure {
    text-align: center;
  }
  .post-content .aligncenter{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .alignright {
    float: right;
    margin-left: 1.5em;
  }
  .alignleft {
    float: left;
    margin-right: 1.5em;
  }
  figure figcaption a {
    position: static;
  }
  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
  }

#mobile-navbar .mobile-navbar .mobile-header-logo .logo{
    font-family:'Acme',serif,sans-serif,cursive,fantasy,monospace;
}
.header .logo-wrapper .logo{
    font-family:'Acme',serif,sans-serif,cursive,fantasy,monospace;
}


#clustrmaps-widget-v2,
#clustrmaps-widget-v2 {
 display: block;
 font-size: 11px;
 line-height: 13px;
 margin: 0 auto;
 padding: 0;
 position: relative;
 text-align: center;
 color: transparent;
 min-height: 139px;
 text-decoration: none;    /* text-shadow: 1px 1px 0 #01324f; */
 border: 0 none;
}
.clustrmaps-map {
 position: relative;
}
#clustrmaps-widget-v2 > .clustrmaps-map-container {
 background-position: 0 0;
 background-repeat: no-repeat;
 position: relative;
}
#clustrmaps-widget-v2 > .clustrmaps-map-container > .clustrmaps-date {
 text-align: center;
 width: 100%;
 z-index: 10;
}
#clustrmaps-widget-v2 > .clustrmaps-map-container > .clustrmaps-logo {
 position: absolute;
 background-image: url("//cdn.clustrmaps.com/assets/clustrmaps/img/logo4-small.png");
 bottom: 0px;
 background-repeat: no-repeat;
 background-position: center center;
 z-index: 1;
 width: 100px;
 height: 31px;
 left: 0px;
}
#clustrmaps-widget-v2 > .clustrmaps-map-container > .clustrmaps-connection {
 background-position: center center;
 background-repeat: no-repeat;
 bottom: 0;
 color: rgba(255, 255, 255, 0.5);
 padding: 4px 4px;
 position: absolute;
 right: 0;
 z-index: 1;
 font-variant: small-caps;
}
#clustrmaps-widget-v2 > .clustrmaps-bottom-text {
 letter-spacing: 0px;
 background: #FFFFFF;
 color: #000000;
 text-shadow: none;
}
#clustrmaps-widget-v2 > .clustrmaps-cursor-click {
 background-position: center center;
 background-repeat: no-repeat;
 display: block;
 height: 29px;
 position: absolute;
 right: 0;
 top: 56px;
 width: 30px;
}
#clustrmaps-widget-v2 > .clustrmaps-map-container > .clustrmaps-connection.clustrmaps-failed {
 color: rgba(255, 0, 0, 0.8);
}
/*#clustrmaps-widget-v2 > .clustrmaps-map-container {    background-image: url("//cdn.clustrmaps.com/images/map_v2_loading.png");}*/#clustrmaps-widget-v2 > .clustrmaps-cursor-click {
 background-image: url("//cdn.clustrmaps.com/assets/clustrmaps/img/cursor_click.png");
}
#clustrmaps-widget-v2 > .clustrmaps-bottom-text.variation {
 display: none;
}
/* CONTROL *//*#clustrmaps-widget-v2.clustrmaps-map-control > .clustrmaps-map-container {    background-image: url("//cdn.clustrmaps.com/images/map_v2-control.png");}*/#clustrmaps-widget-v2.clustrmaps-map-control > .clustrmaps-bottom-text {
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 border: 1px solid #999;
 background: #F24D58;
 background: -moz-linear-gradient(top, #FF636D 50%, #DD2929 50%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f83737), color-stop(50%,#f83737));
 background: linear-gradient(to bottom, #FF636D 50%,#DD2929 51%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FF636D", endColorstr="#f83737",GradientType=0 );
 display: block;
 margin: 2px auto 0;
 padding: 3px 14px;
 color: #FFFFFF;
 text-shadow: 1px 1px 0px #5B0000;
 font-weight: 600;
}
#clustrmaps-widget-v2.clustrmaps-map-control  > .clustrmaps-bottom-text:hover {
 border: 1px solid #888;
 background: #a3f5a2;
 background: -moz-linear-gradient(top,  #ed8b92 50%, #D76666 50%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ed8b92), color-stop(50%,#D76666));
 background: linear-gradient(to bottom, #ed8b92 50%,#D76666 51%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ed8b92", endColorstr="#D76666",GradientType=0 );
}
#clustrmaps-widget-v2.clustrmaps-map-control > .clustrmaps-bottom-text.variation {
 display: none;
}
.clstm {
 text-transform: capitalize !important;
 position: relative;
}
#clustrmaps-widget-v2.clustrmaps-map-variation > .clustrmaps-bottom-text {
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 border: 1px solid #999;
 background: #F24D58;
 background: -moz-linear-gradient(top, #FF636D 50%, #DD2929 50%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f83737), color-stop(50%,#f83737));
 background: linear-gradient(to bottom, #FF636D 50%,#DD2929 51%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FF636D", endColorstr="#f83737",GradientType=0 );
 display: block;
 margin: 2px auto 0;
 padding: 3px 14px;
 color: #FFFFFF;
 text-shadow: 1px 1px 0px #5B0000;
 font-weight: 600;
}
#clustrmaps-widget-v2.clustrmaps-map-variation > .clustrmaps-bottom-text {
 display: none;
}
#clustrmaps-widget-v2.clustrmaps-map-variation > .clustrmaps-bottom-text.variation {
 display: block;
}
#clustrmaps-widget-v2.clustrmaps-map-variation  > .clustrmaps-bottom-text:hover {
 border: 1px solid #888;
 background: #a3f5a2;
 background: -moz-linear-gradient(top,  #ed8b92 50%, #D76666 50%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ed8b92), color-stop(50%,#D76666));
 background: linear-gradient(to bottom, #ed8b92 50%,#D76666 51%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ed8b92", endColorstr="#D76666",GradientType=0 );
}
.clustrmaps-visitors,
.clustrmaps-date,
.clustrmaps-bottom-text {
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-weight: normal;
}
.clustrmaps-bottom-text {
 font-size: 12px;
}
